{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Api\Question</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Vrai</th>
                <td>{{ entity.vrai }}</td>
            </tr>
            <tr>
                <th>Faux1</th>
                <td>{{ entity.faux1 }}</td>
            </tr>
            <tr>
                <th>Faux2</th>
                <td>{{ entity.faux2 }}</td>
            </tr>
            <tr>
                <th>Faux3</th>
                <td>{{ entity.faux3 }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_question_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
